# Specific files that need to be ignored due to size
posts/ereefs_mapping_data/daset (RData, TBD)
posts/ereefs_plotting_data/dataset (RData, TBD)
posts/ereefs_plotting_data/dataset (csv, TBD)

# temp:
posts/ereefs_mapping_data/chl_a_sum_dry_tropics.RData

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

/.quarto/


