# Specific file types (anything with the following extensions). These files are ignored as they are almost always too big to be uploaded to github.
*.gpkg
*.tif
*.tiff
*.nc
*.gdb
*.zip
*.shp
re_rip_table.csv

# Exceptions for the file types listed above. These exceptions are only made for items that cannot be downloaded online - e.g. they are custom datasets that can't be easily replicated.
!alma_bay_reef.gpkg
!havannah_north_reef.gpkg
!fish_monitoring_sites.gpkg
!fish_barriers.gpkg
!impounded_and_not_impounded_waters.gpkg
!dt_seagrass_2021.gpkg
!dt_seagrass_2022.gpkg
!black_riparian_area_50m.gpkg
!ross_riparian_area_50m.gpkg
!wt_mwi_re_areas.gpkg
!original_des_2019_re_geometry.gdb
!wt_geometry_(old).zip

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

/.quarto/


