/*-- scss:defaults --*/

//
// Color system
//

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:     #2780e3 !default;
$mainblue: #01272e !default;
$indigo:   #6610f2 !default;
$purple:   #170C3A !default;
$pink:     #A52C60 !default;
$red:      #CF4446 !default;
$orange:   #E6AA04 !default;
$yellow:   #F6D645 !default;
$green:    #118230 !default;
$teal:     #20c997 !default;
$cyan:     #3093CF !default;

$primary:       $mainblue !default;
$secondary:     $gray-600 !default;
$success:       $orange !default;
$info:          $mainblue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-300 !default;
$dark:          $black !default;

$min-contrast-ratio:   2.05 !default;

// Links

$link-color:                $orange !default;
$link-decoration: none !default;
$link-hover-color: $orange !default;
$link-hover-decoration: underline !default;

a:link {
  color: $orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: $orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: $orange;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: $orange;
  background-color: transparent;
  text-decoration: underline;
}


// Callouts

$callout-color-tip:             $orange !default;

// Table of Contents (doesnt work?)

$toc-colour:                $orange !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Tables

$table-bg-scale:              0% !default;

// Dropdowns

$dropdown-link-color:               $gray-700 !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $success !default;

// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-600 !default;
$nav-tabs-border-color:             $gray-200 !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-light-color:                $white !default;
$navbar-light-hover-color:          $success !default;
$navbar-light-active-color:         $success !default;
$navbar-light-brand-color:          $white !default;
$navbar-light-brand-hover-color:    $navbar-light-brand-color !default;

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $orange !default;
$navbar-dark-active-color:          $success !default;
$navbar-dark-brand-color:                 $white !default;
$navbar-dark-brand-hover-color:           $navbar-dark-brand-color !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $gray-200 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// List group

$list-group-hover-bg:               $gray-200 !default;
$list-group-disabled-bg:            $gray-200 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;


// Footer
$footer-bg: $mainblue !default;

a.footer-link[href="https://github.com/add-am/"] {
  color: #fff;
}

a.footer-link[href="https://github.com/add-am/"]:hover {
  color: $orange;
}

// StoryMap Links
a.storymap-links {
  color: $orange;
}

a.storymap-links:visited {
  color: $orange;
  text-decoration: underline;
}

a.storymap-links:hover {
  color: $orange;
  text-decoration: underline;
}

a.storymap-links:active {
  color: $orange;
  text-decoration: underline;
}


// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// Code copy
$btn-code-copy-color-active: $mainblue !default;


/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

main {
  margin-top: 0;
  margin-bottom: 0;
}

pre.text, pre.sourceCode, .cell-output pre {
    font-size: 0.775em;
}

.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

.sidebar nav[role="doc-toc"]>ul li a {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar {
  z-index: 0;
  background: $mainblue;
}

.fixed-top {
 z-index:1000; 
}

.navbar-dark .navbar-nav .nav-link {
  z-index:0;
  color: #fff;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
  z-index: 0;
  color: #E6AA04;
}

.navbar-title {
  color: #fff;
  z-index: 10;
}

.quarto-grid-item img.thumbnail-image {
                height: 100%;
                object-fit: contain;
        }
#title-block-header.quarto-title-block.default .description, .title{
  color:$black;
}

#quarto-content>* {
  padding: 0;
}


// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.alert {
  color: $white;
  border: none;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-bg, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    a,
    .alert-link {
      color: $body-color;
    }
  }
}

// Containers

.modal,
.toast,
.offcanvas {
  .btn-close {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$black}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
  }
}



