/*-- scss:defaults --*/

$text:        #121212 !default; //just off black
$background:  #F2F2F2 !default; //a light grey
$primary:     #e6aa04 !default; //a light orange
$secondary:   #841818 !default; //a dark muted red
$accent:      #54CC98 !default; //a light muted green
$accent2:     #00252A !default; //a dark muted green
$black:       #000000 !default; //black, duh

// Base document colours
$body-bg:        $background !default;
$body-color:     $text !default;

//Navbar and Footer
$navbar-bg:     $accent2 !default; //The bar itself
$navbar-fg:     $background !default; //The text/symbols on the bar
$footer-bg:     $accent2 !default; //The bar itself
$footer-fg:     $background !default; //The text/symbols on the bar

.navbar {
  border-bottom: 1px solid $background;
}

.navbar:hover {
  border-bottom: 1px solid $primary;
}

// Landing page specifics

#hero-landing {
  color: $text; //the normal text colour
}

#hero-adam{
  color:  $primary; //the text colour for "adam" on the landing page
}

.landing-body{ //this is the container for the background image
  background-color: $accent2;
  height: 100vh;
  background-image: url("images/landing_page.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.landing-background{ //this is the container for the text and image
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
}

// CV page specifics

.cv-body{ //this is the container for the background image
  background-color: $accent2;
  height: 100vh;
  background-image: url("images/cv_page.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.cv-div{ //this is the container for the CV scroll box and button
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: space-between;
  
}

// These three help position the button and CV
.half {
  flex: 1;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
        }

.half img {
  max-width: 60%;
  max-height: 60%;
}

.cv-half {
  flex-grow: 10;
  text-align: center;
  width: 50%;
  min-width: 50%;
}

.div-button{// the container for the button only
  width:            100%;
  position:         relative;
  text-align:       center;
  
}

.button { //the actual button, before any interactions
  width:            300px;
  padding:          10px 0;
  text-align:       center;
  border:           2px solid $accent2;
  color:            $accent2;
  background:       transparent;
  border-radius:    10px;
  font-size:        1.3rem;
  margin:           10px 10px;
  cursor:           pointer;
  position:         relative;
  overflow:         hidden;
}

.button #cv-span{ //how the transition will happen
  background:       $primary;
  height:           100%;
  width:            0%;
  border-radius:    10px;
  position:         absolute;
  left:             0;
  bottom:           0;
  z-index:          -1;
  transition:       0.5s;
}

.button:hover #cv-span{ // what the end state is
  width:            100%;
  border:           2px solid $primary;
}

// Project page specifics

.project-page .quarto-container { //this is the container for the background image. Note it is the generic quarto-container, but only on the project page
  background-color: $accent2;
  background: transparent;
  background-image: url("images/project_page.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  background-attachment: fixed;
  z-index: 1;
}

.quarto-title{
  color: $text;
  font-weight: bold;
}

.listing-title{
  color: $text;
  text-decoration: underline rgba(0, 0, 0, 0);
  transition: text-decoration-color 400ms;
  font-size: 1.2em;
}

.listing-title:hover{
  color:  $primary;
  text-decoration: underline;
}

.listing-description{
  color: $text;
  font-size: 0.8em;
}




